<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{context.title}}</title>
    <link rel='stylesheet' href='{{assets.shared.css}}' />
    {{{placeholder "css"}}}
  </head>
  <body id="Page">
    <header>
      <div>
        <h3>{{context.title}}</h3>
      </div>
      <ul class="NavBar">
        <li><a href="/">Home</a></li>
        <li><a href="/users">Users</a></li>
      </ul>
    </header>
    
    <div>
    {{{body}}}
    </div>
  
  <script src="{{assets.manifest.js}}"></script>
  {{{placeholder "js"}}}
  </body>
</html>
