<div id="app">
    {{!-- This content is a server-side loaded placeholder (-> JS deactivated or search engines) --}}
    <form action="/" method="GET">
      <input type="search" name="search" placeholder="search users" value="{{context.search}}">
    </form>
    <ul class="Users">
    {{#each context.filtered}}
      <li>{{context.fname}} {{context.lname}}: {{context.age}}</li>
    {{/each}}
    </ul>
  </div>
</div>

{{#placeholder-content "css"}}
<link rel="stylesheet" href="{{assets.users.css}}"></script>
{{/placeholder-content}}

{{#placeholder-content "js"}}
<script>
  var context = {{{json context}}}
</script>
<script src="{{assets.users.js}}"></script>
{{/placeholder-content}}